* {
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    min-height: 100vh;
    width: 100vw;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container-table {
    background: #fff;
    padding: 24px;
    margin-top: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #ffffff;
    border-radius: 16px;
    max-width: 500px;
    margin: 100px auto 0;
}

.title {
    font-family: Arial, sans-serif;
    margin-bottom: 40px;
    color: #0373fc;
}

.input {
    height: 40px;
    border: 1px solid #525252;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 24px;
}

.button {
    height: 40px;
    border-radius: 4px;
    background: #0373fc;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.link {
    display: block;
    font-size: 18px;
    color: #0373fc;
    font-family: Arial, sans-serif;
    padding: 24px 0;
}

.fl-table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: left;
    padding: 8px;
    font-family: Arial, sans-serif;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
    font-size: 16px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}